@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
html {
  height: calc(100vh - 3%);
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.wrapper {
  height: calc(90% - 4rem);
  width: calc(100% - 4rem);
  display: flex;
  flex-flow: column wrap;
  margin: 2rem 2rem 2rem 2rem;
}

.container1 {
  height: calc(50% - 1rem);
  width: calc(50% - 1rem);
  margin: 0 0.5rem 0.5rem 0;
}

.container2 {
  height: 50%;
  width: calc(50% - 1rem);
  margin: 0.5rem 0.5rem 0 0;
}

.container3 {
  height: 100%;
  width: 50%;
  margin: 0 0 0 0.5rem;
}

.leg {
  height: 10%;
  width: 100%;
  margin: 0 0 0 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.hightchrts_container {
  width: 100%;
  height: 100%;
}

.symbol {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  float: left;
  border-radius: 10px;
}

.serieName {
  float: left;
  cursor: pointer;
}

#legend {
  margin-right: 2.5rem;
}

.item {
  height: 40px;
  clear: both;
  display: inline-block;
  margin-left: 40px;
}

.highcharts-tooltip>span {
  background: white;
  border-radius: 3px;
  border: 1px solid #EDFBFE;
  box-shadow: 0px 4px 6px rgba(10, 82, 154, 0.2);
  padding: 8px;
}

.highcharts-label,
span,
b {
  font-weight: normal !important;
  color: #666666 !important;
}

.title {
  margin-bottom: 0.5rem;
}

.barLabels span{
  color: white !important;
  font-size: 0.75rem !important;
  left: -0.75rem !important;
}

#js_spinner {
	text-align: center;
	padding-top: 24px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: -1;
  width: 200px;
  height: 200px;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -50px;
}
 
.greenBlock {
  background-color: green;
  width: 100px;
  height: 100px; 
  z-index: 2;
}

.redBlock {
  background-color: red;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.blueBlock {
  background-color: blue;
  width: 100px;
  height: 100px; 
  z-index: 1;
}
